/*****harold*****/
/* #harold(headerfqwhkqilkzf) #css starts  */
.headerfqwhkqilkzf .logo{
    max-height: 45px
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link{
    color: #1F1F1F
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link:hover{
    color: #A14CED
}
/* #harold(headerfqwhkqilkzf) #css ends  */
/*****harold*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
.aboutd390a380620aac0e{
    margin-right: -30px;
    padding: 2.5rem 0
}
.aboutd390a380620aac0e .video_card>img {
    width: 95%
}
.aboutd390a380620aac0e .video_card::before {
    background-color: #04D2C8;
    width: 95%
}
.aboutd390a380620aac0e .video_card>.btn {
    color: #A14CED
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #A14CED
    background: rgba(255, 255, 255, 0.5)
}
.aboutd390a380620aac0e h2{
    font-size: 40px
}
.aboutd390a380620aac0e .font-weight-bold{
    font-weight: 400!important
}
.aboutd390a380620aac0e .para{
    font-size: 20px
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #A14CED
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****agar*****/
/* #agar(h66a519b827a7d261) #css starts  */
.abouth66a519b827a7d261{
    padding: 4.5rem 0;
}
.abouth66a519b827a7d261 .DescriptionHeading {
    font-size: 32px;
    color: #1F1F1F
}
.abouth66a519b827a7d261 .font-weight-bold{
    font-weight: 400!important
}
.abouth66a519b827a7d261 .DescriptionPara {
    color: #1F1F1F;
    font-size: 20px
}

.abouth66a519b827a7d261 .searchBtn{
    background-color: #A14CED;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
}
/* #agar(h66a519b827a7d261) #css ends  */
/*****agar*****/