/*****harold*****/
/* #harold(headerfqwhkqilkzf) #css starts  */
.headerfqwhkqilkzf .logo{
    max-height: 45px
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link{
    color: #1F1F1F
}
.headerfqwhkqilkzf .navbar-light .navbar-nav .nav-link:hover{
    color: #A14CED
}
/* #harold(headerfqwhkqilkzf) #css ends  */
/*****harold*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
.aboutd390a380620aac0e{
    margin-right: -30px;
    padding: 2.5rem 0
}
.aboutd390a380620aac0e .video_card>img {
    width: 95%
}
.aboutd390a380620aac0e .video_card::before {
    background-color: #04D2C8;
    width: 95%
}
.aboutd390a380620aac0e .video_card>.btn {
    color: #A14CED
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #A14CED
    background: rgba(255, 255, 255, 0.5)
}
.aboutd390a380620aac0e h2{
    font-size: 40px
}
.aboutd390a380620aac0e .font-weight-bold{
    font-weight: 400!important
}
.aboutd390a380620aac0e .para{
    font-size: 20px
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #A14CED
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****agar*****/
/* #agar(h66a519b827a7d261) #css starts  */
.abouth66a519b827a7d261{
    padding: 4.5rem 0;
}
.abouth66a519b827a7d261 .DescriptionHeading {
    font-size: 32px;
    color: #1F1F1F
}
.abouth66a519b827a7d261 .font-weight-bold{
    font-weight: 400!important
}
.abouth66a519b827a7d261 .DescriptionPara {
    color: #1F1F1F;
    font-size: 20px
}

.abouth66a519b827a7d261 .searchBtn{
    background-color: #A14CED;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
}
/* #agar(h66a519b827a7d261) #css ends  */
/*****agar*****/

/*****chane*****/
/* #chane(cbadii8z6i5) #css starts  */
.cbadii8z6i5 h1{
    font-size: 32px
}
.cbadii8z6i5 .lead{
    font-size: 20px
}
.cbadii8z6i5 a{
    color: #A14CED;
    font-size: 20px
}
.cbadii8z6i5 a:hover{
    color: #A14CED;
    font-weight: 600;
}
/* #chane(cbadii8z6i5) #css ends  */
/*****chane*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc h2{
    font-weight: 600;
    font-size: 18px
}
.fayete8bna5e4lc a{
    color: #A14CED;
    font-weight: 600;
    font-size: 18px
}
.fayete8bna5e4lc a:hover{
    color: #A14CED;
}

     .fayete8bna5e4lc    .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #1F1F1F
     }
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****taylor*****/
    /* #taylor(testimonialcohi0ajeo7e) #css starts  */
    .testimonialcohi0ajeo7e .lead {
        font-size: 20px
       }
       .testimonialcohi0ajeo7e .lead {
        font-size: 20px
       }
       .testimonialcohi0ajeo7e strong {
        font-size: 16px
       }
    /* #taylor(testimonialcohi0ajeo7e) #css ends  */
/*****taylor*****/     

/*****sammy*****/
    /* #sammy(ebfcf165e4ae5852) #css starts  */
    .serviceebfcf165e4ae5852 .image img{
        width: 100%
    }
    .serviceebfcf165e4ae5852 h2 {
        font-size: 32px;
        font-weight: 400!important;
    }
    .serviceebfcf165e4ae5852 .card-title {
        font-size: 18px;
        margin-bottom: 15px
    }
    /* #sammy(ebfcf165e4ae5852) #css ends  */
/*****sammy*****/

/*****faki*****/
/* #faki(formftfyiyue44r) #css starts */
.formftfyiyue44r .fdb-block {
    padding: 4.5rem 0
 }
 .formftfyiyue44r .fdb-block h1{
    font-size: 32px
 }
 .formftfyiyue44r .fdb-block a{
    color: #A14CED;
    font-weight: 600;
    font-size: 16px
 }
 .formftfyiyue44r .fdb-block a:hover{
    color: #A14CED
 }
 .formftfyiyue44r .btn-outline-secondary {
    color: #1F1F1F;
    border: none;
}
.formftfyiyue44r .btn-outline-secondary:hover,
.formftfyiyue44r .btn-outline-secondary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #A14CED;
    border-color: #A14CED
}
/* #faki(formftfyiyue44r) #css starts */
/*****faki*****/